<div class="signup-page bg1">
  <div class="signup-page-overlay"></div>
  <div class="signup-page-wrapper">
    <a href="#" class="login-logo"></a>
    <p id="notice">使用手机号注册成为球僮，享受更多乐趣！</p>
    <%= form_tag cms_signin_path, method: :post do %>
      <%= text_field :caddie, :phone, placeholder: '手机', class: 'signup-phone' %>
      <%= password_field :caddie, :password, placeholder: '密码', class: 'signup-password' %>
      <%= text_field_tag :verification_code, nil, placeholder: '验证码', class: 'signup-verification-code' %>
      <a href="javascript: verificationCode()" class="signup-send">获取验证码</a>
      <div class="one-half">
        <%= link_to '注册', caddie_signin_path, class: 'button button-green full-button' %>
      </div>
      <div class="one-half last-column">
        <a href="pageapp-login.html" class="button button-blue full-button">登录</a>
      </div>
      
    <% end %>
    <div class="clear"></div>
  </div>            
</div>
<% content_for :javascript do %>
  <script>
  var interValObj;
  var count = 5;
  var curCount;
  function verificationCode() {
    if($("#caddie_phone").val() == '') {
      $('#notice').html('请您填写手机号。');
      $("#notice").effect('shake', {}, 500);
    } else {
      $.ajax({
        url: "/caddie/verification_codes/sign_up?phone=" + $("#caddie_phone").val(),
        contentType: "application/json; charset=utf-8",
        dataType: "json",   
        method: 'POST',
        complete: function(data) {
          alert(data.message);
          curCount = 60;
          $("#verification_code").html("发送中... (60)");
          interValObj = window.setInterval(setRemainTime, 1000);
        }
      });
    }
  }

  function setRemainTime() {
    if (curCount == 0) {                
      window.clearInterval(interValObj);
      $("#verification_code").removeAttr("disabled");
      $("#verification_code").html("重新发送");
    }
    else {
      curCount--;
      $("#verification_code").html("发送中... (" + curCount + ")");
    }
  }
  </script>
<% end %>