<div class="content">
  <div class="container no-bottom">
    <h3><%= @scorecard %>号洞</h3>
  </div>
  <div class="decoration"></div>
  <div class="one-third-responsive">
    <%= form_for [:caddie, @scorecard] do |f| %>
      总杆：<%= f.select :score, (0..50).map %><br>
      推杆：<%= f.select :putts, (0..10).map %><br>
      罚杆：<%= f.select :penalties, (0..10).map %><br>
      <%= f.submit '确认提交', class: 'button button-green' %>
    <% end %>
  </div>
</div>