<div class="content">
  <div class="container no-bottom">
    <h1><%= @scorecard.number %>号洞</h1>
  </div>
  <div class="decoration"></div>
  <div class="one-third-responsive">
    <div class="professional-scorecard-form">
      <%= form_for [:caddie, @scorecard] do |f| %>
        <ul id="professional-scorecard-strokes" class="professional-scorecard-strokes">
          <li class="item">
            <div class="form-row-lg"><label>距离球洞：</label><%= select :distance_from_hole, nil, (((1..50).to_a + (1..110).map{|i| i * 5 + 50}).map{|i| ["#{i}码", i]}).insert(0, ['进洞', 0]), selected: 200 %></div>
            <div class="form-row-lg"><label>球的状态：</label><%= select :point_of_fall, nil, [['果岭', 'green'], ['球道外左侧', 'left_rough'], ['球道', 'fairway'], ['球道外右侧', 'right_rough'], ['沙坑', 'bunker'], ['不可打', 'unplayable'], ['进洞', 'hole']], selected: 'fairway' %></div>
            <div class="form-row-lg"><label>罚杆：</label><%= select :penalties, nil, (0..3).to_a, selected: 0 %></div>
            <div class="form-row-lg"><label>使用球杆：</label><%= select :club, nil, Stroke.clubs.keys %></div>
            <%= link_to '删除', '#', class: 'button button-red button-remove-stroke' %>
            <div class="decoration"></div>
          </li>
        </ul>
        <%= text_area_tag :test, nil, class: 'text-input-one' %>
        <%= link_to '确认提交', '#', onclick: "submitForm(edit_scorecard_#{@scorecard.id})", class: 'button button-green' %>
        <%= link_to '增加', '#', class: 'button button-green button-add-stroke' %>
        <%= link_to '返回', [:caddie, @scorecard.player], class: 'button button-blue' %>
      <% end %>
    </div>
  </div>
</div>
<% content_for :javascript do %>
  <script>
    jQuery(document).ready(function() {
      var max_strokes = 20;
      var wrapper = jQuery("#professional-scorecard-strokes");
      var add_button = jQuery(".button-add-stroke");
      var x = 1;
      jQuery(add_button).click(function(e){
        e.preventDefault();
        if(x < max_strokes){
          x++;
          jQuery(wrapper).find('li:last').clone().appendTo(wrapper);
        }
      });
      jQuery(wrapper).on("click",".button-remove-stroke", function(e){
        if (x > 1) {
          e.preventDefault(); jQuery(this).parent('li').remove(); x--;
        }
      })
    });
  </script>
<% end %>