<div class="content">
  <div class="container no-bottom">
    <h3><%= @scorecard.number %>号洞</h3>
  </div>
  <div class="decoration"></div>
  <div class="one-third-responsive">
    <div class="simple-scorecard-form">
      <%= form_for [:caddie, @scorecard] do |f| %>
        <div class="form-row-lg"><label>总杆：</label><%= f.select :score, (1..50).to_a %></div>
        <div class="form-row-lg"><label>推杆：</label><%= f.select :putts, (1..10).to_a %></div>
        <div class="form-row-lg"><label>罚杆：</label><%= f.select :penalties, (1..10).to_a %></div>
        <div class="form-row-lg"><label>开球方向：</label><%= f.select :direction, [['左侧', 'hook'], ['命中', 'pure'], ['右侧', 'slice']], selected: 'pure' %></div>
        <div class="form-row-lg"><label>开球距离：</label><%= f.select :penalties, ((1..50).to_a + (1..110).map{|i| i * 5 + 50}).map{|i| ["#{i}码", i]}, selected: '200' %></div>
        <%= f.submit '确认提交', class: 'button button-green button-submit' %>
      <% end %>
    </div>
  </div>
</div>